body {
  background-color: #d3d3d3
}

button {
  margin-top: 5px;
}

li {
  color: #20c20e;
  text-transform: Capitalize;
  font-size: 20px;
}

.container {
  margin: 0 auto 0 auto;
  max-width: 60%;
  padding: 2.5%;
  background-color: #20c20e;
}

img {
  width: 50%;
}


nav {
  display: flex;
}

nav > li {
  margin-right: 10px;
  list-style-type: none;
  background-color: #20c;
  padding: 5px;
  border-radius: 5px
}

nav > li > a            {
  color: #fff;
  text-decoration: none;
}

.footer > a {
  margin-right: 10px;
  text-decoration: none;
  background-color: #EFD0CA;
  color: #0A2463;
  padding: 5px;
  border-radius: 2px;

  text-transform: capitalize;
}
.anupam > a {
  background-color: #F40076;
  text-decoration: none;
  color: #000;
  border-radius: 6px;
  padding: 5px;
}
.king > a {
  background-color: #454ADE;
  color: #B9F18C;
  padding: 5px;
  border-radius: 6px;
}
